td{
    text-align: right;
}
.homtableheadwrapper th{
    position: sticky;
    top: 0px;
}
.hometablebody{
    overflow:scroll;
}
.homtablehead{
    min-height: 40px;
    font-size: 13.5px;
    position: relative;
    top: 10px;
}
.homtablehead1{
    min-height: 40px;
    font-size: 13.5px;
    position: relative;
    top: 10px;
}