.profile-user-info{
    margin-left: 10px;
}
.profilepost{
    padding: 30px;
}
.profilPosthead{
    display: flex;
    justify-content: space-between;
}
.linkbtn{
   margin-top: 5px;
}
.picturbtn{
    margin-right: 20px;
}