.recentpostcontent{
    display: flex;
    justify-content:flex-start;
    margin-bottom: 15px;
    margin-top: 10px;
}
.friendsuggest{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding: 15px;
}
.btn-icon{
    width: 35px;
}